<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시판</title>
</head>
<body>
    <h1>게시판입니다.</h1>
    <form action = "/create">
        제목:<input type = "text" name = "title"><br>
        내용:<input type = "text" name = "content"><br>
        <input type = "submit">
        {% for p in posts %}
            
            <p>제목 : {{ p.title }}</p>
            <p>내용 : {{ p.content }}</p>
            <a href="/edit/{{ p.id }}">[수정]</a>
            <a href="/delete/{{ p.id }}">[삭제]</a>
        
        {% endfor %}
    </form>
</body>
</html>